# Algumas análises do ENEM
### Respondendo as questões

In [1]:
import pandas as pd
import sqlalchemy

In [2]:
df = pd.read_csv('dados/enem/enemmg.csv')

In [3]:
engine = sqlalchemy.create_engine(
    "mysql+pymysql://root:root@localhost/enem"
)

1. Qual é a média da nota em matemática de todos os alunos mineiros?

In [4]:
pd.read_sql(
    'select avg(NU_NOTA_MT) media \
     from alunos_mg', 
    engine)

        media
0  546.796208

In [5]:
df.NU_NOTA_MT.mean()

546.7962076512165

2. Qual é a média da nota em Linguagens e Códigos de todos os alunos mineiros?

In [6]:
pd.read_sql(
    'select avg(NU_NOTA_LC) media \
     from alunos_mg',
    engine
)

       media
0  531.21555

In [7]:
df.NU_NOTA_LC.mean()

531.2155500475445

3. Qual é a média da nota em Ciências Humanas dos alunos do sexo FEMININO mineiros?

In [9]:
pd.read_sql(
    "select avg(NU_NOTA_CH) media \
     from alunos_mg \
     where TP_SEXO = 'F'",
    engine
)

        media
0  515.127098

In [10]:
df.loc[
    df.TP_SEXO == 'F',
    'NU_NOTA_CH'
].mean()

515.1270983575309

4. Qual é a média da nota em Ciências Humanas dos alunos do sexo MASCULINO?

In [13]:
pd.read_sql(
    "select avg(NU_NOTA_CH) media \
     from alunos_mg \
     where TP_SEXO = 'M'",
    engine
)

       media
0  529.69827

In [14]:
df.loc[
    df.TP_SEXO == 'M',
    'NU_NOTA_CH'
].mean()

529.6982704731435

5. Qual é a média da nota em Matemática dos alunos do sexo FEMININO que
moram na cidade de Montes Claros?

In [16]:
pd.read_sql(
    "select avg(NU_NOTA_MT) media \
     from alunos_mg \
     where TP_SEXO = 'F' \
       and NO_MUNICIPIO_RESIDENCIA = 'Montes Claros'",
    engine
)

        media
0  525.477672

In [17]:
df.loc[
    (df.TP_SEXO == 'F') & (df.NO_MUNICIPIO_RESIDENCIA == 'Montes Claros'),
    'NU_NOTA_MT'
].mean()

525.4776724249903

6. Qual é a média da nota em Matemática dos alunos do município de Sabará que
possuem TV por assinatura na residência?

In [19]:
pd.read_sql(
    "select avg(NU_NOTA_MT) media \
     from alunos_mg \
     where NO_MUNICIPIO_RESIDENCIA = 'Sabará' \
       and Q021 = 'B'",
    engine
)

        media
0  543.292756

In [20]:
df.loc[
    (df.NO_MUNICIPIO_RESIDENCIA == 'Sabará') & (df.Q021 == 'B'),
    'NU_NOTA_MT'
].mean()

543.2927556818181

7. Qual é a média da nota em Ciências Humanas dos alunos mineiros que possuem
dois fornos micro-ondas em casa?

In [22]:
pd.read_sql(
    "select avg(NU_NOTA_CH) media \
     from alunos_mg \
     where Q016 = 'C'",
    engine
)

        media
0  557.276599

In [23]:
df.loc[
    df.Q016 == 'C',
    'NU_NOTA_CH'
].mean()

557.2765986394558

8. Qual é a nota média em Matemática dos alunos mineiros cuja mãe completou a
pós-graduação?

In [24]:
pd.read_sql(
    "select avg(NU_NOTA_MT) media \
     from alunos_mg \
     where Q002 = 'G'",
    engine
)

        media
0  620.007062

In [26]:
df.loc[
    df.Q002 == 'G',
    'NU_NOTA_MT'
].mean()

620.0070620709871

9. Qual é a nota média em Matemática dos alunos de Belo Horizonte e de
Conselheiro Lafaiete?

In [27]:
pd.read_sql(
    "select avg(NU_NOTA_MT) media \
     from alunos_mg \
     where NO_MUNICIPIO_RESIDENCIA in ('Belo Horizonte', 'Conselheiro Lafaiete')",
    engine
)

        media
0  578.039227

In [32]:
df.query("NO_MUNICIPIO_RESIDENCIA in ('Belo Horizonte', 'Conselheiro Lafaiete')")['NU_NOTA_MT'].mean()

578.0392265100105

In [34]:
df.loc[
    (df.NO_MUNICIPIO_RESIDENCIA == 'Belo Horizonte') |
    (df.NO_MUNICIPIO_RESIDENCIA == 'Conselheiro Lafaiete'),
    'NU_NOTA_MT'
].mean()

578.0392265100105

10. Qual é a nota média em Ciências Humanas dos alunos mineiros que moram
sozinhos?

In [35]:
pd.read_sql(
    "select avg(NU_NOTA_CH) media \
     from alunos_mg \
     where Q005 = 1",
    engine
)

        media
0  534.457339

In [39]:
df.query("Q005 == 1")['NU_NOTA_MT'].mean()

547.1239105078995

In [40]:
df.loc[
    df.Q005 == 1,
    'NU_NOTA_MT'
].mean()

547.1239105078995

11. Qual é a nota média em Ciências Humanas dos alunos mineiros cujo pai
completou Pós graduação e possuem renda familiar entre R\\$ 8.982,01 e R\\$ 9.980,00.

In [41]:
pd.read_sql(
    "select avg(NU_NOTA_CH) media \
     from alunos_mg \
     where Q001 = 'G' \
       and Q006 = 'M'",
    engine
)

        media
0  586.723166

In [42]:
df.query("(Q001 == 'G') & (Q006 == 'M')")['NU_NOTA_CH'].mean()

586.7231663685152

In [44]:
df.loc[
    (df.Q001 == 'G') & (df.Q006 == 'M'),
    'NU_NOTA_CH'
].mean()

586.7231663685152

12. Qual é a nota média em Matemática dos alunos do sexo Feminino que moram em Lavras e escolheram “Espanhol” como língua estrangeira?

In [45]:
pd.read_sql(
    "select avg(NU_NOTA_MT) media \
     from alunos_mg \
     where TP_SEXO = 'F' \
       and NO_MUNICIPIO_RESIDENCIA = 'Lavras' \
       and TP_LINGUA = 1",
    engine
)

        media
0  510.809508

In [47]:
df.loc[
    (df.TP_SEXO == 'F') & 
    (df.NO_MUNICIPIO_RESIDENCIA == 'Lavras') & 
    (df.TP_LINGUA == 1),
    'NU_NOTA_MT'
].mean()

510.8095078299776

13. Qual é a nota média em Matemática dos alunos do sexo Masculino que moram em Ouro Preto?

In [50]:
pd.read_sql(
    "select avg(NU_NOTA_MT) media \
     from alunos_mg \
     where TP_SEXO = 'M' \
       and NO_MUNICIPIO_RESIDENCIA = 'Ouro Preto'",
    engine
)

        media
0  555.083252

In [57]:
df.query("TP_SEXO == 'M' and NO_MUNICIPIO_RESIDENCIA == 'Ouro Preto'")['NU_NOTA_MT'].mean()

555.0832520325204

14. Qual é a nota média em Ciências Humanas dos alunos surdos?

In [58]:
pd.read_sql(
    "select avg(NU_NOTA_CH) media \
     from alunos_mg \
     where IN_SURDEZ = 1",
    engine
)

        media
0  435.387963

In [60]:
df.query("IN_SURDEZ == 1")['NU_NOTA_CH'].mean()

435.387962962963

15. Qual é a nota média em Matemática dos alunos do sexo FEMININO, que moram em Belo Horizonte, Sabará, Nova Lima e Betim e possuem dislexia?

In [70]:
pd.read_sql(
    "select avg(NU_NOTA_MT) media \
     from alunos_mg \
     where TP_SEXO = 'F' \
       and NO_MUNICIPIO_RESIDENCIA in ('Belo Horizonte', 'Sabará', 'Nova Lima', 'Betim') \
       and IN_DISLEXIA = 1",
    engine
)

        media
0  582.193548

In [71]:
df.query(
    "TP_SEXO == 'F' \
    and NO_MUNICIPIO_RESIDENCIA in ('Belo Horizonte', 'Sabará', 'Nova Lima', 'Betim') \
    and IN_DISLEXIA == 1")['NU_NOTA_MT'].mean()

582.1935483870968